In [1]:
cd ..

/Users/nguyen/projects/ab-framework

In [2]:
import scipy.stats as scs

from src.data import generate_data

## Test generate_data()

In [5]:
ctr = generate_data(N_A=1000, N_B=1000, p_A=0.10, p_B=0.12, days=7)

In [7]:
ctr.tail()

      converted group  ts
1995          0     B   7
1996          0     A   7
1997          1     B   7
1998          1     A   7
1999          0     A   7

In [8]:
A = ctr[ctr['group'] == 'A']

In [9]:
A['converted'].sum()

93

In [10]:
A.shape

(995, 3)

In [11]:
B = ctr[ctr['group'] == 'B']

In [12]:
B['converted'].sum()

128

In [13]:
B.shape

(1005, 3)

#### The above values are close to the provided conversion rates when running the generate_data function.

In [15]:
ctr['ts'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7])

In [16]:
day0 = ctr[ctr['ts'] == 0]

In [17]:
day0.shape

(285, 3)

In [18]:
day0.head()

   converted group  ts
0          0     A   0
1          0     B   0
2          0     A   0
3          0     A   0
4          0     B   0

In [19]:
A0 = day0[day0['group'] == 'A']
A0['converted'].sum(), A0.shape

(12, (136, 3))

In [16]:
B0 = day0[day0['group'] == 'B']
B0['converted'].sum(), B0.shape

(23, (138, 3))

In [20]:
11/147, 23/138

(0.07482993197278912, 0.16666666666666666)